server:
  port: 8082

spring:
  application:
    name: gateway-service

  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848

    gateway:
      routes:
        # user-service
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/user/**

        - id: captcha-service
          uri: lb://captcha-service
          predicates:
            - Path=/api/captcha/**