server:
  port: 8084

spring:
  application:
    name: order-service

  datasource:
    url: jdbc:mysql://localhost:3306/gameshop?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=utf8
    username: root
    password: 123
    driver-class-name: com.mysql.cj.jdbc.Driver

  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848

mybatis:
  type-aliases-package: com.csu.orderservice.entity
  configuration:
    map-underscore-to-camel-case: true

logging:
  level:
    com.csu.orderservice: debug

feign:
  okhttp:
    enabled: true
